@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");

/* 변수정의 */
:root {
  --title-01: 38px;
  --brandname-02: 10px;
  --name-03: 14px;
  --price-04: 12px;
  --footer-01: 11px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

body {
  max-width: 1920px;
  background-color: #fff;
  color: #111;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif, "Apple SD Gothic Neo";
  font-weight: 400;
  margin: 0 auto;
  position: relative;
}

/* header */
.header {
  max-width: 1920px;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 10;
}

.header-wrap {
  height: 136px;
}

.header-wrap-inner {
  max-width: 1800px;
  min-width: 1320px;
  height: 136px;
  margin: 0 50px;
}

.header-head {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
}

.header-head .header-logo {
  width: 200px;
  height: 24px;
  background-image: url("../images/header-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blank {
  display: none;
}

.header-btns {
  display: flex;
  justify-content: flex-end;
}

.header-btns a:nth-child(1) {
  background: url("../images/common-icon.svg") 0 0;
}
.header-btns a:nth-child(2) {
  background: url("../images/common-icon.svg") 0 -50px;
}
.header-btns a:nth-child(3) {
  background: url("../images/common-icon.svg") -100px -50px;
}
.header-btns a:nth-child(4) {
  background: url("../images/common-icon.svg") -200px 0;
}
.header-btns a:nth-child(5) {
  background: url("../images/네모.svg");
  text-align: center;
}

.header-btns a {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 16px;
  background-repeat: no-repeat;
}

.header-body {
  padding: 0 50px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hb-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.hb-left li {
  padding-right: 20px;
  text-align: center;
}

.hb-left > li > a {
  font-weight: 500;
  color: #111;
  font-size: 18px;
  padding: 0 10px;
  position: relative;
}

.hb-left > li > a:first-child {
  padding: 0;
}

.hb-left > li > a:hover {
  font-weight: 700;
}

.hb-left > li > a.active:last-child {
  opacity: 0;
}

.hb-left > li:last-child > a::after {
  content: "";
  position: absolute;
  top: calc(30%);
  transform: translateY(-50%);
  right: 0;
  width: 5px;
  height: 5px;
  background: #1c47df;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

.hb-left-category {
  position: absolute;
  top: 136px;
  left: 0;
  background-color: #fff;
  display: flex;
  min-width: 1420px;
  border-top: 1px solid #f0f0f0;
  padding: 29px 0 30px;
  width: 100%;
  height: 100%;
  display: none;
}

.hb-left-category > li {
  /* max-width: 1920px; */
  z-index: 100;
  height: 100%;
  margin-top: 40px;
  font-weight: 700;
  display: none;
  margin: 20px 60px;
  text-align: left;
}

.hb-left-category li ul {
  margin-top: 20px;
}

.hb-left-category li ul li {
  text-align: left;
  margin: 10px 0;
}

.hb-left-category li ul li a {
  font-weight: 400;
}

.hb-right {
  display: flex;
  justify-content: flex-end;
}

.hb-right li a {
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
  color: #111;
}

.hb-right li:last-child a {
  padding: 0;
}

.hb-right li:hover a {
  font-weight: 700;
}

.header_footer {
  display: none;
}

/* footer */
.footer {
  margin: 160px 0 0;
  border-top: 1px solid #000;
  background-color: #fff;
}

.footer-wrap {
  max-width: 1800px;
  margin: 0 50px;
}

.footer-wrap .top {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-wrap .top .notice {
  display: flex;
  font-size: 14px;
}

.footer-wrap .top .notice h3 {
  margin-right: 20px;
  font-weight: 700;
}

.footer-wrap .top .sns_icon {
  width: 200px;
  display: flex;
}

.footer-wrap .top .sns_icon a {
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}

.footer-wrap .top .sns_icon a:nth-child(1) {
  background: url("../images/common-icon.svg") -150px -50px;
}
.footer-wrap .top .sns_icon a:nth-child(2) {
  margin-left: 16px;
  background: url("../images/common-icon.svg") -200px -50px;
}
.footer-wrap .top .sns_icon a:nth-child(3) {
  margin-left: 16px;
  background: url("../images/common-icon.svg") -250px -50px;
}
.footer-wrap .top .sns_icon a:nth-child(4) {
  margin-left: 16px;
  background: url("../images/common-icon.svg") -300px -50px;
}

.footer-wrap .bottom {
  width: 100%;
  height: 205px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.footer-wrap .bottom .f_info .f_logo {
  background-image: url("../images/f_logo.png");
  width: 200px;
  height: 24px;
}

.footer-wrap .bottom .f_info .f_text {
  margin-top: 16px;
}

.footer-wrap .bottom .f_info .f_text span {
  margin-right: 16px;
  font-size: var(--footer-01);
}

.footer-wrap .bottom .f_info .f_text p {
  margin-top: 16px;
  font-size: var(--footer-01);
  color: #707070;
}

.footer-wrap .bottom .f_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-wrap .bottom .f_links .f_link {
  margin-left: 80px;
  height: 130px;
  font-size: 12px;
}

.footer-wrap .bottom .f_links .f_link:last-child {
  width: 300px;
}

.fullpage {
  display: none;
}

.blank {
  display: none;
}

@media (max-width: 768px) {
  .header {
    padding: 0;
    height: 100%;
  }

  .header-wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 768px;
  }

  .header-head {
    padding: 0 20px;
    height: 40px;
    margin-top: 10px;
    max-width: 768px;
  }

  .header-head img {
    display: block;
    width: 120px;
    height: 15px;
  }

  .header-btns .search {
    display: block;
  }
  .header-btns .shoppingbag {
    display: block;
  }
  .header-btns .login,
  .mypage,
  .like {
    display: none;
  }

  .header-btns a img {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 20px;
  }

  .header-body {
    display: none;
  }

  .hb-left {
    display: none;
  }

  .hb-right {
    display: none;
  }

  .header_footer {
    display: block;
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #fff;
    color: #111;
  }

  .header_footer {
    height: 50px;
  }
  .header_footer li {
    margin: 0 10px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
  }

  .header_footer li a {
    font-size: 10px;
    white-space: nowrap;
  }

  .header_footer li .logo {
    align-items: center;
  }

  .header_footer li .logo img {
    display: block;
    width: 22px;
    height: 22px;
  }
}
