.content-wrap {
  width: 1200px;
  padding-top: 40px;
  margin: 0 auto;
}

.detail {
  display: flex;
}

.photo-detail {
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 800px;
  position: relative;
}

.photo-detail .left {
  position: relative;
  width: 70px;
  height: 800px;
}

.photo-detail .left .container {
  width: 70px;
  height: 672px;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 20px 0 0;
}

.photo-detail .left .wrapper {
  width: 100%;
  height: 100%;
}

.photo-detail .left .wrapper .slide {
  margin-bottom: 10px;

  height: 70px;
}

.photo-detail .left .wrapper .slide img {
  width: 100%;
  height: 100%;
  display: block;
}

.photo-detail .left .slick-track {
  display: flex;
  flex-direction: column;
}

.photo-detail .right {
  width: 530px;
  margin: 0;
}

.photo-detail .right .container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.photo-detail .right .container .wrapper2 {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.photo-detail .right .container .wrapper2 .slide {
  flex: 1;
  width: 530px;
  height: 800px;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.photo-detail .right .container .wrapper2 .slide img {
  width: 100%;
  height: 100%;
  display: inline-block;
  object-fit: cover;
}

/* menu-detail */
.menu-detail {
  width: 600px;
  padding-left: 60px;
}

.menu-detail .top-title,
.top-info {
  padding: 34px 0;
  border-bottom: 1px solid #f0f0f0;
}

.menu-detail .top-title:first-child {
  padding-top: 0;
}

.menu-detail .top-title .category {
  display: flex;
  border-top: none;
}

.menu-detail .top-title .category li::before {
  content: "";
  background-image: url("../images/detail-arrow-right.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 4px;
}
.menu-detail .top-title .category li:first-child:before {
  display: none;
}

.menu-detail .top-title .category li:first-child {
  font-weight: 700;
}

.menu-detail .top-title .category li:last-child {
  text-decoration: underline;
}

.menu-detail .top-title .name {
  margin-top: 9px;
  align-items: center;
}

.menu-detail .top-title .price {
  margin-top: 14px;
  align-items: center;
}

.menu-detail .top-title .sku {
  margin-top: 18px;
  color: #707070;
}

.menu-detail .top-info-price,
.top-info-box {
  padding: 34px 0;
}

.name h3 {
  font-size: 22px;
  font-weight: 400;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price p {
  font-weight: 700;
  font-size: 20px;
}

.price span {
  font-size: 18px;
  font-weight: 400;
}

.price .icon::before {
  background: url("../images/common-icon-18.svg")-200px -100px;
  width: 18px;
  height: 18px;
}

.price .icon {
  align-items: center;
  width: 18px;
  height: 18px;
}

.last {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last .comment {
  display: flex;
  align-items: center;
}

.last .comment p {
  margin-left: 8px;
}

.coupon {
  max-width: 96px;
  border: 1px solid #ddd;
  padding: 8px 16px;
}

.top-info1,
.top-info2 {
  display: flex;
}

.top-info2,
.prd-info2,
.prd-info4 {
  margin-top: 24px;
}

dt {
  width: 73px;
  /* display: block; */
}

.top-info1 table tr:first-child,
.top-info2 table tr:first-child {
  margin-top: 0;
}
.top-info1 table tr,
.top-info2 table tr {
  margin-top: 6px;
  width: 96px;
}

.top-info1 table tr td,
.top-info2 table tr td {
  padding-right: 12px;
}

.top-info-box {
  border-bottom: 1px solid #f0f0f0;
}

.top-info-box .prd-info {
  display: flex;
}

.top-info-box .prd-info .color-table {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-info-box .prd-info .color-table .color-box {
  margin: 0 10px 8px 0;
  position: relative;
}

.top-info-box .prd-info .color-table .color-box li {
  background-image: url("../images/colorsample\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
  padding-bottom: 3px;
  border: 1px solid #e5e5e5;
  display: block;
}

.top-info-box .prd-info .color-table .color-box li::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  color: #111;
  display: block;
}

.prd-info2 {
  display: flex;
}

.prd-info2 dt {
  display: block;
}

.prd-info2 dd {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 13px;
  white-space: nowrap;
}

.prd-info2 dd > p {
  text-decoration: underline;
}

.prd-info2 .icons {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.prd-info2 .icons .icon1 {
  background: url("../images/common-icon-18.svg")-150px -100px;
  width: 18px;
  height: 18px;
  margin-top: -2px;
  display: block;
}

.prd-info2 .icons .icon2 {
  background-image: url("../images/arrow-right-12.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px auto;
  width: 12px;
  height: 12px;
  margin: 0 0 0 4px;
  display: block;
}

.prd-info3 {
  display: flex;
  margin-top: 8px;
  align-items: center;
}

.prd-info3 dd {
  width: calc(100% - 73px);
}

.prd-info3 .select-box {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 27px 0 15px;
  position: relative;
}

.prd-info3 .select-box span {
  color: #707070;
}

.prd-info3 dd .select-box span::after {
  position: absolute;
  content: "";
  background: url("../images/page-03-down-arrow.svg");
  right: 15px;
  top: calc(50% - 8px);
  width: 16px;
  height: 16px;
  background-size: cover;
  cursor: pointer;
}

.prd-info4 {
  display: flex;
}

.prd-info4 dd,
.prd-info2 dd,
.prd-info dd {
  width: calc(100% - 73px);
}

.prd-info4 dd .btns {
  display: flex;
  height: 100%;
  font-size: 11px;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  height: 42px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  width: 112px;
}

.prd-info4 dd button {
  background-color: transparent;
  width: 34px;
  height: 100%;
  border: none;
}

.prd-info4 dd button::before {
  border-radius: inherit;
  bottom: 0;
  color: inherit;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.prd-info4 dd .text {
  width: calc(100% - 68px);
  text-align: center;
}

.top-info-box:last-child {
  padding-bottom: 0;
}

.top-info-box .price-info {
  display: flex;
  align-items: center;
}

.top-info-box .price-info p {
  flex: 1;
  text-align: right;
}

.top-info-box .detail-btn {
  margin-top: 24px;
  display: flex;
  width: 100%;
}

.top-info-box .detail-btn button {
  flex: 1;
  height: 60px;
  min-width: 75px;
  background-color: #111;
  border-color: #111;
  color: #fff;
}

button {
  cursor: pointer;
}

/* gnb-detail */
.gnb-detail {
  margin-top: 80px;
  height: 58px;
  display: flex;
}

.gnb-detail button {
  border-bottom: 1px solid #e5e5e5;
  flex: 1;
  background-color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

.gnb-detail .g-detail {
  border-bottom: 1px solid #e5e5e5;
}

.gnb-detail .g-review {
  border-bottom: 1px solid #e5e5e5;
}

.gnb-detail .g-style {
  border-bottom: 1px solid #e5e5e5;
}

/* info-detail */
.info-detail {
  padding-top: 30px;
  height: 100%;
}

.info-detail .detail-info {
  max-width: 680px;
  align-items: center;
  margin: 0 auto;
}

.info-detail .detail-info p {
  padding-top: 23px;
  text-align: center;
  padding-top: 23px;
  position: relative;
  display: inline-block;
}

.info-detail .detail-info p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  width: 20px;
  height: 15px;
  background: url("../images/detail-quoto.svg") no-repeat 0 0;
  background-size: cover;
}

.info-detail h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 400;
}
