/* main */
.main {
  flex: 1;
  display: block;
  max-height: 960px;
  width: 100%;
  position: relative;
}

.slider {
  height: 100%;
  width: 100%;
}

.slide {
  position: relative;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slide-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 960px;
}

.slide img {
  width: 100%;
  height: 100%;
  display: block;
}

.slide-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  font-display: row;
  justify-content: center;
  bottom: 33px;
}

.slide-button a {
  display: block;
  height: 12px;
  width: 2px;
  margin: 0 3px;
  background-color: #fff;
  border-radius: 0;
  opacity: 1;
}

.left-arrow {
  background-image: url("../images/left_arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: transparent;
  opacity: 0;
  cursor: pointer;
}

.left-arrow:hover,
.right-arrow:hover {
  opacity: 1;
}

.right-arrow {
  background-image: url("../images/right_arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}

/* main-brand */
.main-brand {
  margin-top: 140px;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
  max-width: 1920px;
  overflow: hidden;
}

.main-brand .title h2 {
  font-size: var(--title-01);
  font-weight: 400;
  display: block;
}

.main-brand .items {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.main-brand .photo {
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: row; */
}

.main-brand .photo img {
  display: block;
  width: 100%;
  height: 100%;
}

.main-brand .photo-tb {
  margin-right: 24px;
  position: relative;
  width: 280px;
}

.main-brand .photo-tb .bottom {
  position: relative;
  margin-top: 24px;
}

.main-brand .photo-tb .top .text {
  position: absolute;
  top: 0;
  left: 0;
}

.main-brand .photo-tb .bottom .text {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  background-color: #fff;
  /* height: 120px; */
  padding: 24px;
}

.photo-tb .bottom .text h4 {
  font-size: var(--brandname-02);
  margin-top: 2px;
  font-weight: 700;
}

.photo-tb .bottom .text h3 {
  margin-top: 2px;
  font-size: var(--name-03);
  font-weight: 400;
}

.photo-tb .bottom .text p {
  margin-top: 8px;
  font-size: var(--price-04);
  font-weight: 700;
}

.photo-tb .bottom .text a {
  margin-top: 24px;
  display: inline-block;
  width: 18px;
  height: 16px;
  background-image: url("../images/Arrow\ 1.png");
  background-size: 500px auto;
  background-repeat: no-repeat;
  /* background-position: -350px -100px; */
}

.scroll-bar {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  margin-top: 60px;
  height: 1px;
  background-color: #ccc;
  width: 100%;
}

.scroll-bar .scroll {
  background-color: #111;
  height: 1px;
  border-radius: 10px;
  width: 594px;
}

/* main-new */
.main-new {
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  min-width: 1420px;
}

.main-new .new-items {
  background-color: #f8f8f8;
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  max-width: 1920px;
}

.main-new .new-items .box {
  display: flex;
  margin: 0 auto;
  max-width: 1800px;
  width: 100%;
}

.main-new .new-items .box .left {
  width: 326px;
}

.main-new .new-items .box .left h2 {
  font-size: var(--title-01);
  font-weight: 400;
}

.main-new .new-items .box .left ul {
  margin-top: 32px;
  font-size: 22px;
}

.main-new .new-items .box .left li {
  margin-top: 16px;
}

.main-new .new-items .box .right {
  width: calc(100% - 326px);
  padding: 0 72px;
}

.main-new .new-items .box .right .photo {
  display: flex;
}

/* banner */
.banner {
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1800px;
  min-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
}

.main-banner .banner-image {
  width: 100%;
  height: 100%;
}

.main-banner .banner-image a {
  max-width: 1800px;
}

.main-banner .banner-image a img {
  display: block;
  width: 100%;
  height: 100%;
}

/* main-best */

.main-best {
  margin-top: 140px;
  margin-left: 50px;
  margin-right: 50px;
}

.main-best h2 {
  font-size: var(--title-01);
  font-weight: 400;
}

.best-contents {
  margin-top: 16px;
}

.best-contents .top {
  display: flex;
  margin-bottom: 32px;
}

.best-contents .top li {
  margin-right: 32px;
}

.best-contents .top li a {
  font-size: 22px;
}

.best-contents .top li a.on {
  font-weight: 700;
}

.best-contents .bottom-items {
  display: flex;
}

.main-best .bottom-items .items {
  margin-right: 24px;
  position: relative;
}

.best-contents .bottom-items .items .back {
  display: none;
}

.main-best .bottom-items .items .text_box {
  padding-top: 16px;
  text-align: center;
}

.main-best .bottom-items .items .text_box h4 {
  font-weight: 700;
  font-size: var(--brandname-02);
}

.main-best .bottom-items .items .text_box h3 {
  margin-top: 2px;
  font-weight: 400;
  font-size: var(--name-03);
}

.main-best .bottom-items .items .text_box p {
  margin-top: 8px;
  font-weight: 700;
  font-size: var(--price-04);
}

.main-best .bottom-items .items .icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 9px;
  right: 9px;
}

.main-best .bottom-items .items .icon img {
  width: 100%;
  height: 100%;
  display: block;
}
*/

/* .main-best {
  margin-top: 140px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.main-best h2 {
  font-size: var(--title-01);
  font-weight: 400;
}

.best-contents {
  margin-top: 16px;
}

.best-contents .top {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.best-contents .top li {
  margin-right: 32px;
}

.best-contents .top li a {
  font-size: 22px;
}

.best-contents .top li a.on {
  font-weight: 700;
}

.main-best .bottom-items {
  width: 280px;
  display: flex;
}

.main-best .bottom-items .items {
  margin-right: 24px;
  position: relative;
}

.main-best .bottom-items .photo .front {
  display: block;
}

.main-best .bottom-items .photo .back {
  display: none;
}

.main-best .bottom-items .items .text_box {
  padding-top: 16px;
  text-align: center;
}

.main-best .bottom-items .items .text_box h4 {
  font-weight: 700;
  font-size: var(--brandname-02);
}

.main-best .bottom-items .items .text_box h3 {
  margin-top: 2px;
  font-weight: 400;
  font-size: var(--name-03);
}

.main-best .bottom-items .items .text_box p {
  margin-top: 8px;
  font-weight: 700;
  font-size: var(--price-04);
}

.main-best .bottom-items .items .icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 9px;
  right: 9px;
}

.main-best .bottom-items .items .icon img {
  width: 100%;
  height: 100%;
  display: block;
} */

/* main-new */
.main-new {
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
  max-width: 1800px;
  min-width: 1320px;
  margin-top: 140px;
}

.main-new .slide-item {
  position: relative;
  max-width: 1800px;
  min-width: 1320px;
}

.main-new h2 {
  font-size: var(--title-01);
  font-weight: 400;
}

.main-new .new-contents {
  margin-top: 32px;
}

.main-new .new-contents .slide {
  height: 936px;
}

.main-new .new-contents .slide-item {
  display: flex;
  /* width: 100%;
  height: 100%; */
  left: 0;
  right: 42px;
}

.main-new .new-contents .slide-item .item {
  margin-right: 24px;
  width: 100%;
}

.main-new .new-contents .slide-item .item .photo-image1 {
  background-image: url("../images/new-contents-1.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.main-new .new-contents .slide-item .item .photo {
  /* width: 584px; */
  height: 936px;
}

.main-new .new-contents .slide-item .item .photo img {
  display: block;
  width: 100%;
  height: 100%;
}

.main-new .new-contents .slide-item .item .text_box {
  text-align: center;
}

/* main-unit  */
.main-unit {
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
  max-width: 1800px;
  min-width: 1320px;
}

.main-unit .unit {
  display: flex;
}

.main-unit .unit .box {
  width: 888px;
  margin-right: 24px;
}

.main-unit .unit .box > h2 {
  font-size: var(--title-01);
  font-weight: 400;
}

.main-unit .unit .box .box-contents {
  margin-top: 32px;
  display: flex;
  height: 520px;
}

.main-unit .unit .box .box-contents .product {
  width: 100%;
  height: 100%;
  display: flex;
}

.main-unit .unit .box .box-contents {
  position: relative;
}

.main-unit .unit .box .box-contents a {
  width: 520px;
  height: 520px;
}

.main-unit .unit .box .box-contents a img {
  width: 100%;
  height: 100%;
  display: block;
}

.main-unit .unit .box .box-contents .product {
  position: absolute;
  top: 30px;
  right: 0;
  width: 456px;
  height: 435px;
  background-color: #fff;
  padding: 24px;
}

.main-unit .unit .box .box-contents .product .product-images {
}
