/* main */

.main {
  flex: 1;
  display: block;
  max-height: 960px;
  width: 100%;
  position: relative;
}

.slider {
  position: relative;
}

.arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.arrows i {
  display: block;
  padding: 30px;
  cursor: pointer;
}

.slide_01 .item img {
  width: 100%;
  display: block;
}

.slide_01 .slick-dots {
  bottom: 50px;
}

.slide_01 .slick-dots li {
  width: 6px;
  height: 20px;
  background-color: #fff;
}

.slide_01 .slick-dots li.slick-active {
  background-color: transparent;
}

.slide_01 .slick-dots li.slick-active button {
  position: absolute;
  top: 10px;
  left: -5px;
  font-size: 20px;
  color: #fff;
}

.slide_01 .slick-dots li button:before {
  font-size: 0;
}

/* main-brand */
.main-brand {
  margin-top: 140px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 140px;
  position: relative;
}

.main-brand .title h2 {
  font-size: var(--title-01);
  font-weight: 400;
  display: block;
}

.mbn-slide .item {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.main-brand .mbn-dots {
  width: 20px;
}

.mbn-dots::before {
  border-color: black;
}

.item {
  width: 280px;
  margin-right: 24px;
}

.item img {
  width: 100%;
  height: 100%;
  display: block;
}

.mbn-image,
.mbn-image-b {
  position: relative;
}

.mbn-image-b .bottom {
  position: relative;
  margin-top: 24px;
}

.mbn-image .text,
.mbn-image-b .text {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  background-color: #fff;
  padding: 24px;
  opacity: 0;
  cursor: pointer;
  transition: all 300ms ease-out;
}

.mbn-image .top .text.active,
.mbn-image-b .bottom .text.active {
  transform: translateY(-10px);
  opacity: 1;
}

.mbn-image .top .text h4 {
  font-size: var(--brandname-02);
  margin-top: 2px;
  font-weight: 700;
}

.mbn-image .top .text h3 {
  margin-top: 2px;
  font-size: var(--name-03);
  font-weight: 400;
}

.mbn-image .top .text p {
  margin-top: 8px;
  font-size: var(--price-04);
  font-weight: 700;
}

.mbn-image .top .text a {
  margin-top: 24px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../images/common-icon-18.svg") -350px -100px;
  background-repeat: no-repeat;
}

.mbn-image-b .bottom .text h4 {
  font-size: var(--brandname-02);
  margin-top: 2px;
  font-weight: 700;
}

.mbn-image-b .bottom .text h3 {
  margin-top: 2px;
  font-size: var(--name-03);
  font-weight: 400;
}

.mbn-image-b .bottom .text p {
  margin-top: 8px;
  font-size: var(--price-04);
  font-weight: 700;
}

.mbn-image-b .bottom .text a {
  margin-top: 24px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../images/common-icon-18.svg") -350px -100px;
  background-repeat: no-repeat;
}

.page {
  display: none;
}

/* main-new */
.main-new {
  max-width: 1920px;
  margin-top: 140px;
  margin: 0 auto;
}

.main-new .new-items {
  background-color: #f8f8f8;
  padding: 80px 0;
  justify-content: space-between;
  /* width: 100%; */
}

.main-new .new-items .box {
  max-width: 1800px;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.main-new .new-items .box .left {
  width: 326px;
}

.main-new .new-items .box .left h2 {
  font-size: var(--title-01);
  font-weight: 400;
}

.main-new .new-items .box .left ul {
  margin-top: 32px;
  font-size: 22px;
}

.main-new .new-items .box .left li {
  margin-top: 16px;
}

.main-new .new-items .box .left li.active {
  font-weight: 700;
}

.main-new .new-items .box .left li:first-child {
  margin-top: 0;
}

.main-new .new-items .box .right {
  width: calc(100% - 326px);
  padding: 0 72px;
  position: relative;
}

.main-new .new-items .box .right .items {
  display: flex;
  overflow: hidden;
}

.main-new .new-items .box .right .items .item {
  margin-right: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-new .new-items .box .right .items .item .f_photo {
  position: relative;
}

.main-new .new-items .box .right .item .photo img {
  display: block;
  width: 100%;
  height: 100%;
}

.main-new .new-items .box .right .item .photo .f_photo #back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.main-new .new-items .box .right .item .photo .f_photo #back.active {
  opacity: 1;
  opacity: 0.3s;
  transition: 300ms;
}

.main-new .new-items .box .right .item .photo .f_photo #back img {
  width: 100%;
  height: 100%;
  display: block;
}

.main-new .new-items .box .right .items .item .text {
  padding-top: 16px;
  text-align: center;
  display: block;
}

.main-new .new-items .box .right .items .text h4 {
  font-size: var(--brandname-02);
  font-weight: 700;
}
.main-new .new-items .box .right .items .text h3 {
  font-size: var(--name-03);
  margin-top: 2px;
  font-weight: 400;
}
.main-new .new-items .box .right .items .text p {
  font-size: var(--price-04);
  margin-top: 8px;
  font-weight: 700;
}

.main-new .items {
  position: relative;
}

.main-new .arrow {
  position: absolute;
  top: calc(50% - 60px);
  left: -12px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.main-new .arrow img {
  opacity: 0.6;
  transition: all 0.3s;
  cursor: pointer;
  width: 32px;
  height: 32px;
  /* background-color: #fff; */
}

.main-new .arrow img:hover {
  opacity: 1;
}

.main-new .arrow .next {
}

/* banner */
.banner {
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  height: 100%;
  position: relative;
}

.banner-inner {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.banner .slick-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.banner a img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.banner .slick-prev,
.banner .slick-next {
  background-color: rgba(0, 0, 0, 0.2);
  width: 60px;
  height: 60px;
}

.banner .slick-prev:hover,
.banner .slick-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.banner .slick-prev::before,
.banner .slick-next::before {
  font-size: 32px;
  color: #fff;
}

/* main-best */

.main-best {
  margin-top: 140px;
  margin-left: 50px;
  margin-right: 50px;
}

.main-best h2 {
  font-size: var(--title-01);
  font-weight: 400;
}

.best-contents {
  margin-top: 16px;
}

.best-contents .top {
  display: flex;
  margin-bottom: 32px;
}

.best-contents .top li {
  margin-right: 32px;
}

.best-contents .top li a {
  font-size: 22px;
}

.best-contents .top li.on {
  font-weight: 700;
}

.best-contents .bottom {
  max-width: 1800px;
}

.best-contents .bottom-items {
  display: flex;
  max-width: 1800px;
  overflow: hidden;
}

.best-contents .bottom-items .photo {
  position: relative;
  /* width: 280px; */
}

.best-contents .bottom-items .photo #last {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.best-contents .bottom-items .photo .front #last.active {
  opacity: 1;
  opacity: 0.3s;
  transition: 300ms;
}

.main-best .bottom-items .items {
  margin-right: 24px;
  position: relative;
  width: 280px;
  height: 100%;
}

.main-best .bottom-items .items .photo img {
  width: 100%;
  height: 100%;
}

.main-best .bottom-items .items .text_box {
  padding-top: 16px;
  text-align: center;
  width: 100%;
}

.main-best .bottom-items .items .text_box h4 {
  font-weight: 700;
  font-size: var(--brandname-02);
}

.main-best .bottom-items .items .text_box h3 {
  margin-top: 2px;
  font-weight: 400;
  font-size: var(--name-03);
}

.main-best .bottom-items .items .text_box p {
  margin-top: 8px;
  font-weight: 700;
  font-size: var(--price-04);
}

.main-best .bottom-items .items .icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 9px;
  right: 9px;
}

.main-best .bottom-items .items .icon img {
  width: 100%;
  height: 100%;
  display: block;
}

/* main-contents */

.main-contents {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 140px;
  max-width: 1800px;
}

.main-contents h2 {
  font-size: var(--title-01);
  font-weight: 400;
}

.main-contents .new-contents {
  margin-top: 32px;
  width: 100%;
}

.main-contents .new-contents .slide {
  height: 100%;
  width: 100%;
  display: block;
}

.main-contents .new-contents .slide-item {
  display: flex;
  gap: 24px;
}

.main-contents .new-contents .slide-item .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-contents .new-contents .slide-item .item .photo {
  overflow: hidden;
}

.main-contents .new-contents .slide-item .photo img {
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;
}

.main-contents .new-contents .slide-item .photo img:hover {
  transform: scale(1.2);
}

.main-contents .new-contents .slide-item .text_box {
  text-align: center;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
}

/* main-unit  */
.main-unit {
  margin: 140px 50px 0 50px;
  position: relative;
  /* max-width: 1800px;
  min-width: 1320px; */
}

.main-unit .unit {
  display: flex;
}

.main-unit .unit .box {
  width: 888px;
  margin-right: 24px;
}

.main-unit .unit .box > h2 {
  font-size: var(--title-01);
  font-weight: 400;
}

.main-unit .unit .box .box-contents {
  margin-top: 32px;
  display: flex;
  height: 520px;
}

.main-unit .unit .box .box-contents .product {
  width: 100%;
  height: 100%;
  display: flex;
}

.main-unit .unit .box .box-contents {
  position: relative;
}

.main-unit .unit .box .box-contents a {
  width: 520px;
  height: 520px;
}

.main-unit .unit .box .box-contents a img {
  width: 100%;
  height: 100%;
  display: block;
}

.main-unit .unit .box .box-contents .product {
  position: absolute;
  top: 30px;
  right: 0;
  width: 456px;
  height: 435px;
  background-color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: row;
}
.main-unit .unit .box .box-contents .product .contents {
  width: 100%;
  height: 100%;
  margin-right: 16px;
}

.main-unit .unit .box .box-contents .product .product-images {
  width: 200px;
  height: 300px;
  position: relative;
}

.main-unit .unit .box .box-contents .product .product-images .image_f {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-unit .unit .box .box-contents .product .product-images .image_b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-unit .unit .box .box-contents .product .product-images .image_f img {
  width: 100%;
  height: 100%;
  display: block;
}
.main-unit .unit .box .box-contents .product .product-images .image_b img {
  width: 100%;
  height: 100%;
  display: none;
}

.main-unit .unit .box .box-contents .product .product-info {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  margin-top: 16px;
}

.main-unit .unit .box .box-contents .product .product-info {
  margin-top: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.main-unit .unit .box .box-contents .product .product-info h4 {
  font-size: var(--brandname-02);
  font-weight: 700;
}
.main-unit .unit .box .box-contents .product .product-info h3 {
  font-size: var(--name-03);
  font-weight: 400;
  margin-top: 2px;
}
.main-unit .unit .box .box-contents .product .product-info p {
  font-size: var(--price-04);
  font-weight: 700;
  margin-top: 8px;
}

/* mobile */
@media (max-width: 768px) {
  .main-brand,
  .scroll-bar,
  .main-new,
  .banner,
  .main-best,
  .main-new,
  .main-unit,
  .main-contents,
  .main-hot-keyword,
  .footer {
    display: none;
    height: 100%;
  }

  .main .slider .left-arrow,
  .right-arrow {
    display: none;
  }

  .main .slider {
    display: none;
  }

  .main .page {
    display: block;
    width: 100%;
    max-height: 576px;
  }

  .main .page .item {
    width: 100%;
    height: 100%;
  }

  .main .page .item img {
    width: 100%;
    height: 100%;
  }
}
