.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrap-main {
  width: 100%;
  height: calc(100vh - 136px);
  display: flex;
}

/* main */
.main {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 960px;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  overflow: hidden;
  max-width: 1920px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100%;
  height: 100%;
  display: block;
}

.slide-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  font-display: row;
  justify-content: center;
  bottom: 33px;
}

.slide-button a {
  display: block;
  height: 12px;
  width: 2px;
  margin: 0 3px;
  background-color: #fff;
  border-radius: 0;
  opacity: 1;
}

.left-arrow {
  background-image: url("../images/left_arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: transparent;
  opacity: 0;
  cursor: pointer;
}

.left-arrow:hover,
.right-arrow:hover {
  opacity: 1;
}

.right-arrow {
  background-image: url("../images/right_arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}

/* main-brand */
.main-brand {
  margin-top: 140px;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
  max-width: 1800px;
}

.main-brand .title {
  font-size: 26px;
}

.main-brand .photo {
  display: flex;
}
