.header {
  height: 136px;
}

.header-wrap {
  margin: 0 auto;
}

#header header {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 136px;
}

.wrap {
  width: 100%;
  height: 100%;
}

/* main */
.main {
  position: relative;
  padding-top: 40px;
}

.main-img {
  margin: 0 auto;
}

.content-wrap {
  width: auto;
  max-width: 1800px;
  min-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.women {
  position: relative;
  width: 100%;
  padding-bottom: 14px;
}

.women li {
  display: flex;
  align-items: center;
}

.women li button {
  display: flex;
  align-items: center;
  border: none;
  background-color: #fff;
}

.women li button::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../images/common-icon-12.svg);
  background-size: 500px auto;
  background-repeat: no-repeat;
  background-position: -450px -200px;
  margin-left: 4px;
}

.women li button.open::after {
  transform: rotate(180deg);
}

.women li button.open ul {
  opacity: 1;
}

.women > li ul > li > a {
  padding-left: 10px;
  position: relative;
  display: block;
}

.women > li ul > li > a.active {
  font-weight: 700;
}

.women > li ul > li > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #000;
}

.women > li ul {
  position: absolute;
  left: 0;
  top: 39px;
  width: 100%;
  background-color: #fbfbfb;
  box-sizing: border-box;
  padding: 14px 20px;
  flex-wrap: wrap;
  display: flex;
  opacity: 0;
}

.women > li ul > li {
  margin-right: 20px;
}

.category-1 {
  border-top: 1px solid #f0f0f0;
  align-items: center;
  text-align: center;
}

.category-1 .bottom-menu {
  display: flex;
  margin-top: 20px;
}

.category-1 .bottom-menu li {
  margin-right: 10px;
  cursor: pointer;
}
.category-1 .bottom-menu li.on {
  font-weight: 700;
}

.category-2 .sort-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  height: 66px;
  border-bottom: 1px solid #111;
}

.category-2 .sort-wrap .filter {
  display: flex;
  cursor: pointer;
}

.category-2 .sort-wrap .filter .image {
  background-image: url("../images/filter.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 24px;
  width: 24px;
  margin-left: 8px;
}

.category-2 .sort-wrap ul {
  display: flex;
}

.category-2 .sort-wrap ul li {
  margin-left: 12px;
}

.category-2 .sort-wrap ul li a.active {
  font-weight: 700;
}

.count-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  height: 30px;
  max-width: 1920px;
}

.count-wrap {
  color: #707070;
}

.layout-button {
  display: flex;
}

.layout-button img {
  width: 30px;
  height: 30px;
}

.layout-button img:last-child {
  margin-left: 6px;
}

/* main-image */
.main-image {
  max-width: 1800px;
  margin: 0 auto;
  height: 100%;
}

.women-image {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img1 {
  width: calc(25% - 18px);
  height: 100%;
  margin-top: 40px;
}

.img1-1 {
  width: calc(25% - 18px);
  height: 100%;
  margin-left: 24px;
  margin-top: 40px;
}

.img2 {
  width: calc(33.333333% - 16px);
  margin-top: 40px;
  height: 100%;
}

.img2-1 {
  width: calc(33.333333% - 16px);
  margin-top: 40px;
  margin-left: 24px;
  height: 100%;
}

.women-img > li {
  padding: 5px;
  background-color: red;
  width: 100px;
  height: 100px;
}

.women-image li .img-f {
  width: 100%;
  height: 100%;
  display: block;
}

.women-image li .img-f img {
  width: 100%;
  height: 100%;
  display: block;
}

.img-b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.main-image .women-image .images {
  position: relative;
}

.women-image .images .text {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  background-color: #fff;
  padding: 24px;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  transition: all 300ms ease-out;
}

.women-image .images .text.active {
  opacity: 1;
  transform: translateY(-10px);
}

.women-image .images .text .color {
  display: flex;
  justify-content: space-between;
}

.women-image .images .text .product {
  margin-top: 10px;
}

.women-image .images .text .size {
  display: flex;
  margin-top: 8px;
}

.women-image .images .text .size p {
  margin-right: 16px;
}

.women-image .images .text .size p:last-child {
  margin-right: 0;
}

.women-image .images .text .flag {
  height: 18px;
  margin-top: 14px;
  display: flex;
}
.info .left p {
  color: #707070;
}

.women-image li .info {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.icon {
  position: absolute;
  top: 9px;
  right: 9px;
}

.heart_icon {
  width: 24px;
  height: 24px;
}

.heart_icon img {
  width: 100%;
  height: 100%;
  display: block;
}

.paging {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.paging a {
  padding: 0 6px;
}

.paging a.active {
  font-weight: 700;
}

.paging img {
  width: 20px;
  height: 20px;
  display: block;
}

.dimm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  z-index: 20;
}

.side {
  position: fixed;
  height: 100%;
  top: 0px;
  transform: translateX(-100%);
  width: 500px;
  background-color: #fff;
  transition: 0.2s;
  z-index: 100;
}

.side.active {
  transform: translateX(0%);
  transition: 0.2s;
}

.side .cls_btn {
  height: 60px;
  position: relative;
}

.side .cls_btn > button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/common-icon.svg);
  background-size: 500px auto;
  background-repeat: no-repeat;
  background-position: -100px 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.side .filter_gnb {
  height: calc(100% - 188px);
}

.side .filter_gnb li .product {
  height: 46px;
  padding-left: 40px;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.side .filter_gnb li .product_info {
  margin: 0 40px;
  padding-bottom: 20px;
  display: flex;
  width: 100%;
}

.side .filter_gnb li .product_info .f-left,
.side .filter_gnb li .product_info .f-right {
  display: flex;
  flex: 1;
}

.side .filter_gnb li .product_info .check {
  margin-right: 8px;
  color: inherit;
  position: relative;
  transition: 0.3s;
}

.side .filter_gnb li .product_info .check > i {
  box-sizing: border-box;
  border: 1px solid #000;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  display: block;
  top: -5px;
}

.side .filter_gnb li .product_info .check > i::before {
  content: "";
  opacity: 0;
  position: absolute;
  left: -1px;
  top: -1px;
  width: 18px;
  height: 18px;
  background-image: url(../images/icon-checked.svg);
  background-size: 18px 18px;
  color: #000;
}

.side .filter_gnb li .product_info .check > i::after {
  background-color: currentColor;
  border-radius: -50%;
  display: inline-block;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(1.3);
  width: 100%;
  transition: 0.2s;
}

.side .filter_gnb li {
  border-top: 1px solid #f0f0f0;
}

.side .filter_gnb li:nth-child(1),
.side .filter_gnb li:nth-child(2) {
  border-top: none;
}

.side .filter_gnb li > button {
  height: 66px;
  width: 100%;
  padding-left: 40px;
  text-align: left;
  position: relative;
  font-size: 16px;
  border: none;
  background-color: #fff;
}

.side .filter_gnb li > button::after {
  content: "";
  position: absolute;
  right: 40px;
  top: calc(50% - 9px);
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/common-icon.svg);
  background-size: 500px auto;
  background-repeat: no-repeat;
  background-position: -250px -200px;
}

.filter-footer {
  height: 128px;
  padding: 34px 40px 0;
  display: flex;
  justify-content: space-between;
}

.filter-footer > button {
  flex: 1;
  background-color: #fff;
  height: 60px;
  min-width: 75px;
  padding: 20px;
  color: #000;
  border: 1px solid #000;
  display: block;
}

.filter-footer > button.footer1 {
  margin-right: 0;
}

.filter-footer > button.footer2 {
  background-color: #000;
  color: #fff;
  margin-left: 0;
}
